body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  text-align: center;
  transition: filter 0.7s;
}

h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  background-color: gold;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.btn:hover {
  filter: brightness(0.7);
}

.active.container {
  filter: blur(5px) brightness(0.7);
}

.popup-container {
  position: fixed;
  width: 400px;
  height: 200px;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: url("https://images.unsplash.com/photo-1564069114553-7215e1ff1890?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.7s;
}

h4 {
  font-size: 30px;
  margin: 10px 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

label {
  color: white;
}

.popup-btn {
  background-color: burlywood;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid;
}

.input {
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}

.input::placeholder {
  color: burlywood;
}

.close-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.close-icon:hover {
  color: brown;
}

.active.popup-container {
  visibility: hidden;
  opacity: 0;
  top: 10%;
  /* This creates the effect of the popup sliding up and disappearing from the screen. */
}
